<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link tab active" (click)="toggleActive()">Inbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab" (click)="toggleActive()">Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab" (click)="toggleActive()">Contacts</a>
      </li>
    </ul>
  </div>
  <div class="card-body" id="loader">
    <div class="text-center">
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
<!-- Generates Bootstrap cards per Message Thread/Contacts -->
<div class="inbox-data" *ngFor="let key of Object.keys(dataService.response)">
  <div class="card-body">
    <div [ngSwitch]="dataService.response[key].message.author_id">
      <div *ngSwitchCase="userService.currentUser.id">
        <h5 class="card-title">{{ dataService.response[key].message.author }}</h5>
      </div>
      <div *ngSwitchDefault>
        <h5 class="card-title">{{ dataService.response[key].recipient }}</h5>
      </div>
    </div>
    <p class="card-text">{{ dataService.response[key].message.author }} : {{ dataService.response[key].message.content }}</p>
    <a href="#" class="btn btn-primary">View</a>
  </div>
  <hr>
</div>
<!-- Display if No Messages/Contacts -->
<div *ngIf="isLoaded">
  <div *ngIf="isEmpty()">
    <p>
      <small>Theres nothing here...</small>
    </p>
  </div>
</div>