<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link tab active" (click)="toggleActive()">Inbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab" (click)="toggleActive()">Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab" (click)="toggleActive()">Contacts</a>
      </li>
    </ul>
  </div>
  <div class="card-body" id="loader">
    <div class="text-center">
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
<!-- Generates Bootstrap cards per Message Thread/User Contacts if multiple -->
  <div *ngIf="!dataService.response.message; else oneThread">
    <div class="inbox-data" *ngFor="let key of Object.keys(dataService.response)">
      <div class="card-body">
        <h5 class="card-title">
          {{ dataService.response[key].message.author_id == userService.getUserId() ? dataService.response[key].recipient : dataService.response[key].message.author }}
        </h5>
        <p class="card-text">
          <strong id="lastAuthor">
            {{ dataService.response[key].message.author_id == userService.getUserId() ? 'You' : dataService.response[key].message.author }}
          </strong>: 
            {{ dataService.response[key].message.content | slice:0:25 }} {{ dataService.response[key].message.content.length > 25 ? '...' : '' }}
            <br/>
            <small>{{ dataService.response[key].message.timestamp | date: 'hh:mm a yyy-MM-dd' }}</small>
        </p>
        <!-- Value = PK of User messaging with in this thread -->
        <button class="btn btn-primary" (click)="getThread($event)" [attr.value]="dataService.response[key].message.author_id == userService.getUserId() ? dataService.response[key].recipient_id : dataService.response[key].message.author_id">View</button>
      </div>
      <hr>
    </div>
  </div>
  <!-- If only one thread returned from api for this user; access is different -->
  <ng-template #oneThread>
    <div class="card-body">
        <h5 class="card-title">
          {{ dataService.response.message.author_id == userService.getUserId() ? dataService.response.recipient : dataService.response.message.author }}
        </h5>
        <p class="card-text">
          <strong id="lastAuthor">
            {{ dataService.response.message.author_id == userService.getUserId() ? 'You' : dataService.response.message.author }}
          </strong>: 
            {{ dataService.response.message.content | slice:0:25 }} {{ dataService.response.message.content.length > 25 ? '...' : '' }}
            <br/>
            <small>{{ dataService.response.message.timestamp | date: 'hh:mm a yyy-MM-dd' }}</small>
        </p>
        <!-- Value = PK of User messaging with in this thread -->
        <button class="btn btn-primary" (click)="getThread($event)" [attr.value]="dataService.response.message.author_id == userService.getUserId() ? dataService.response.recipient_id : dataService.response.message.author_id">View</button>
      </div>
  </ng-template>
<!-- Display if No Messages/Contacts -->
<div *ngIf="isLoaded">
  <div *ngIf="isEmpty()">
    <p>
      <small>Theres nothing here...</small>
    </p>
  </div>
</div>