<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link tab active" (click)="toggleActive(true, $event)" id="user">Inbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab" (click)="toggleActive(true, $event)" id="group">Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab" (click)="toggleActive(true, $event)" id="create">Create Group</a>
      </li>
    </ul>
  </div>
  <div class="card-body" id="loader">
    <div class="text-center">
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
<!-- Generates Bootstrap cards per Message Thread -->
  <div *ngIf="dataService.response; else nothingHere">
    <div *ngIf="!dataService.response.message; else oneThread">
      <div *ngFor="let key of Object.keys(dataService.response)">
        <div class="card-body">
          <!-- UserMessage Header: Show User -->
          <h5 class="card-title" *ngIf="dataService.response[key].recipient">
            {{ dataService.response[key].message.author_id == userService.getUserId() ? dataService.response[key].recipient : dataService.response[key].message.author }}
          </h5>
          <!-- GroupMessage Header: Show Group -->
          <h5 *ngIf="dataService.response[key].group">
            {{ dataService.response[key].group }}
          </h5>
          <p class="card-text">
            <strong id="lastAuthor">
              {{ dataService.response[key].message.author_id == userService.getUserId() ? 'You' : dataService.response[key].message.author }}
            </strong>: 
              {{ dataService.response[key].message.content | slice:0:25 }} {{ dataService.response[key].message.content.length > 25 ? '...' : '' }}
              <br/>
              <small>{{ dataService.response[key].message.timestamp | date: 'hh:mm a yyy-MM-dd' }}</small>
          </p>
          <!-- UserMessage Button Value = PK of User messaging with in this thread -->
          <button *ngIf="dataService.response[key].recipient" class="btn btn-primary" (click)="getThread($event)" [attr.value]="dataService.response[key].message.author_id == userService.getUserId() ? dataService.response[key].recipient_id : dataService.response[key].message.author_id">
          View
          </button>
          <!-- GroupMessage Button Value = PK of Group -->
          <button *ngIf="dataService.response[key].group" class="btn btn-primary" (click)="getThread($event)" [attr.value]="dataService.response[key].group_id">View</button>
        </div>
        <hr>
      </div>
    </div>
    <!-- If only one thread returned from api for this user; access is different -->
    <ng-template #oneThread>
      <div class="card-body">
          <!-- UserMessage header: show user -->
          <h5 *ngIf="dataService.response.user" class="card-title">
            {{ dataService.response.message.author_id == userService.getUserId() ? dataService.response.recipient : dataService.response.message.author }}
          </h5>
          <!-- GroupMessage header: show group -->
          <h5 *ngIf="dataService.response.group" class="card-title">
            {{ dataService.response.group }}
          </h5>
          <p class="card-text">
            <strong id="lastAuthor">
              {{ dataService.response.message.author_id == userService.getUserId() ? 'You' : dataService.response.message.author }}
            </strong>: 
              {{ dataService.response.message.content | slice:0:25 }} {{ dataService.response.message.content.length > 25 ? '...' : '' }}
              <br/>
              <small>{{ dataService.response.message.timestamp | date: 'hh:mm a yyy-MM-dd' }}</small>
          </p>
          <!-- Value = PK of User messaging with in this thread -->
          <button *ngIf="dataService.response.user" class="btn btn-primary" (click)="getThread($event)" [attr.value]="dataService.response.message.author_id == userService.getUserId() ? dataService.response.recipient_id : dataService.response.message.author_id">View</button>
          <!-- GroupMessage Value = PK of Group -->
          <button *ngIf="dataService.response.group" class="btn btn-primary" (click)="getThread($event)" [attr.value]="dataService.response.group_id">View</button>
        </div>
    </ng-template>
  </div>
  <!-- Create Group Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="createModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create New Group</h5>
          <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" align="center">
          <p *ngIf="groupExists">
            A group already exists under that name!
          </p>
          <form id="createForm">
            <div class="form-group">
              <label for="name">Group Name</label>
              <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- Display if No Messages/Contacts -->
  <ng-template #nothingHere>
    <p>
      <small>Theres nothing here...</small>
    </p>
  </ng-template>
</div>