<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" (click)="toggleActive()">Inbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleActive()">Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleActive()">Contacts</a>
      </li>
    </ul>
  </div>
  <div class="card-body" id="loader">
    <div class="text-center">
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
<div class="inbox-data" *ngFor="let key of Object.keys(dataService.response)">
  <hr>
  <div class="card-body">
    <h5 class="card-title">{{ dataService.response[key].message.author }}</h5>
    <p class="card-text">{{ dataService.response[key].message.content }}</p>
    <a href="#" class="btn btn-primary">View</a>
  </div>
  <hr>
</div>
<div *ngIf="isLoaded">
  <div *ngIf="isEmpty()">
    <p style="font-style: italic;">No messages... </p>
  </div>
</div>