
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" (click)="toggleActive()">Inbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleActive()">Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleActive()">Contacts</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">TIMESTAMP</h5>
    <p class="card-text">AUTHOR: MOST_RECENT_MESSAGE</p>
    <a href="#" class="btn btn-primary">View</a>
  </div>
  <hr>
  <div class="card-body">
    <h5 class="card-title">TIMESTAMP</h5>
    <p class="card-text">AUTHOR: MOST_RECENT_MESSAGE</p>
    <a href="#" class="btn btn-primary">View</a>
  </div>
  <hr>
  <div class="card-body">
    <h5 class="card-title">TIMESTAMP</h5>
    <p class="card-text">AUTHOR: MOST_RECENT_MESSAGE</p>
    <a href="#" class="btn btn-primary">View</a>
  </div>
  <hr>
  <div class="card-body">
    <h5 class="card-title">TIMESTAMP</h5>
    <p class="card-text">AUTHOR: MOST_RECENT_MESSAGE</p>
    <a href="#" class="btn btn-primary">View</a>
  </div>
  <hr>
</div>