.brand-custom {
 	color: white !important;
 }

 .danger:hover {
 	color: #fd5e5e !important;
 }

 sup {
 	color: #fd5e5e;
 }

 .cust {
 	margin-top: 1vh;
 }

 .details {
 	float: left;
 }

 .timestamp {
 	font-style: italic;
 	float: left;
 }

 .notif-link {
 	float: right;
 }