<section class="row justify-content-center login-frame">
    <section class="col-l1 mx-auto">
      <h1>Welcome Back!</h1>
      <form id="loginForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" required>
        </div>
        <div class="form-group" align="center">
          <button type="button" class="btn btn-primary" align="center" (click)="doLogin()">Login</button>
        </div>
      </form>
      <div align="center" id="loginDetail">
        <a href="#" routerLink="/register"><small>Not a member? Join today!</small></a>
      </div>
  </section>
</section>