#loader {
	display: none;
}

.container {
	height: 66vh;
	overflow-y: auto;
}

.alert {
	margin-bottom: 1vh;
	width: 90%;
}

.alert-primary {
	float: right;
}

.alert-secondary {
	float: left;
}

.fa-arrow-left:hover {
	color: #007bff;
}

#retInbox {
	color: inherit;
}