<!-- Master Navigation -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand brand-custom"><i class="far fa-envelope"></i> ChitChat!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Base Link Components -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="userService.getUserId()">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link bar" href="#" routerLink="/inbox" id="message">Message Center</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bar" href="#" routerLink="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bar danger" href="#" (click)="userService.logout()">Logout</a>
            </li>
        </ul>
        <!-- Notification icon: TODO: link sup to websocket -->
        <i class="far fa-bell fa-lg"><sup>1</sup></i>
        <!-- Search Element -->
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>